@font-face {
    font-family: 'Cera Round Pro Medium', sans-serif;
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/CeraRoundProMedium.eot');
    src: url('../fonts/CeraRoundProMedium.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/CeraRoundProMedium.woff') format('woff'), 
        url('../fonts/CeraRoundProMedium.ttf') format('truetype');
}

@font-face {
    font-family: 'Asap Condensed Medium', sans-serif;
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/AsapCondensedMedium.eot');
    src: url('../fonts/AsapCondensedMedium.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/AsapCondensedMedium.woff') format('woff'), 
        url('../fonts/AsapCondensedMedium.ttf') format('truetype');
}