@include dark{
    :root{
        --aside-bg: #383838;
        --main-bg: #1e1e1e;

        --box-bg: #535353;
        
        --search-input: #454545;
        --outline-color: #31719a;

        --text-color: #fff;
        --light-text-color: #747474;
        --link-color: #469BF8;

        --add-btn-bg: #292929;

        --task-border: #393939;
        --task-focus-bg: #404040;
        --task-checkbox-border: #6F6F6F;

        --add-btn-aside: #ACACAC;
        --add-btn-aside-active: #fff;


        --scrollbar-thumb-bg: #B8B8B8;
    }
}

@include light{
    :root{
        --aside-bg: #f6f6f6;
        --main-bg: #fff;

        --box-bg: #DEDEDE;
        
        --search-input: #e9e9e9;
        --outline-color: #84B1F3;

        --text-color: #494949;
        --light-text-color: #b0b0b0;
        --link-color: #1A71D8;

        --add-btn-bg: #f2f2f2;

        --task-border: #e6e6e6;
        --task-focus-bg: #EBEBEB;
        --task-checkbox-border: #BDBDBD;


        --add-btn-aside: #777;
        --add-btn-aside-active: #000;

        --scrollbar-thumb-bg: #B6B6B6;

    }
}

:root{
    --red: #FC4741;
    --blue: #157EFB;
    --orange: #FD9426;
    --yellow: #FECB2F;
    --purple: #5F61E3;
    --green: #2AC55E;
    --pink: #FC527B;
    --grey: #727E87;
    --brown: #C8A578;
    --light-grey: #C4C4C4;
    --light-blue: #7BC4FD;
    --light-purple: #D483F2;
    --light-brown: #EAB5AF;
}

$white: #fff;
$black: #000;

$aside-bg: var(--aside-bg);
$main-bg: var(--main-bg);

$box-bg: var(--box-bg);

$search-bg: var(--search-input);
$outline-color: var(--outline-color);

$text-color: var(--text-color);
$light-text-color: var(--light-text-color);
$link-color: var(--link-color);

$add-btn-bg: var(--add-btn-bg);

$border-color: var(--task-border);
$task-focus-bg: var(--task-focus-bg);
$task-checkbox-border: var(--task-checkbox-border);

$add-btn-aside: var(--add-btn-aside);
$add-btn-aside-active: var(--add-btn-aside-active);

$scrollbar-thumb-bg: var(--scrollbar-thumb-bg);

$main-radius: 5px;
$ft-transition: 0.1s;