.aside{
    &__search{
        position: relative;
        margin: 0px 10px 19px 10px;
        &-input{
            height: 28px;
            padding-left: 28px;
            background: $search-bg;
        }
        &-icon{
            width: 15px;
            aspect-ratio: 1 / 1;
            position: absolute;
            top: 50%;
            left: 8px;
            transform: translateY(-50%);
        }
    }
    @include placeholder {
        color: $light-text-color;
    }
}

@include dark{
    .aside{
        &__search{
            &-input{
                box-shadow: 0px -0.5px 1px 0px #767676 inset;
            }
            &-icon{
                fill: #fff;
            }
        }
    }
}

@include light{
    .aside{
        &__search-input{
            box-shadow: none;
            border: 0.5px solid #dfdfdf;
        }
    }
}

